.main-info {
  padding-left: 50px;
  grid-area: info;
  &__name {
    font-family: "Russell";
    letter-spacing: 1px;
    margin: 43px 0 10px;
    font-size: 30px;
  }

  &__name,
  .main-info__status {
    text-align: left;
    text-transform: uppercase;
  }

  &__status {
    background: #2d2d2d;
    padding: 7px 0 5px 10px;
    font-size: 14px;
    color: #d2c166;
  }

  &__address {
    font-size: 10px;
    color: #383838;
    padding: 10px 0 0 2px;
    text-align: left;
    font-weight: 700;
    font-style: italic;
  }

  &__print {
    position: absolute;
    top: -6px;
    right: 3px;
    transform: scale(0.5);
    transition: transform 0.4s cubic-bezier(0, 1.84, 0.73, 0.81);
    cursor: pointer;
  }

  &__print:hover {
    transform: scale(0.7);
  }
}
